<!DOCTYPE html>
<!--Control de angular ng-app-->
<!--Luego voy a nombrar un modulo en mi aplicaciion: ng-app="NombredemimoduloApp" -->
<html ng-app="ModuloApp">
<head>
	<title>Mi aplicacion angular</title>

</head>
<body>

<!--en este div voy a inicializar angular creando un array con dos objetos -->
<div ng-init="personas=[
  {
    nombre:'Jesica',
    apellido: 'Gomez',
    cuidad:'Medellin',
    comentario:''},
  {
    nombre:'Alexa',
    apellido: 'Murillo',
    cuidad:'Bogota',
    comentario:''}]">
</div>
<!--VOy a crear un controlador con el atributo: ng-controller="NombredemicontroladorController", para abreviar uso: ng-controller="NombredemicontroladorController as mController" -->
<div ng-controller="mainController as mcontrol">
	<ul>
	    <!--cada arrar se repite en un nuevo li -->
		<li ng-repeat="persona in personas">
			<h4>{{persona.nombre}} <b>{{persona.apellido}}</b>, Vive en {{persona.cuidad}}</h4>
			<p>{{persona.nombre}} piensa que: {{persona.comentario}}</p>
			<!--todo lo que escriba en el input se intera dentro de las llaves-->
			<input type="text" ng-model="persona.comentario"> 
		</li>
	</ul>
</div>
<!--Llamo al archivo angular minimizado para generar una lectura mas rapida del codigo-->
<script src="bower_components/angular/angular.min.js"></script>
<script>
    /*Incluyo el modulo MoudloApp en Js. Puedo crear tantos modulos como neccesite*/
	var aplicacion = angular.modulo("ModuloApp");
	/*Incluyo el controlador mControl en mi modulo asi: aplicacion.controller('Nombredemicontrolador',functionanonima(){})*/
	aplicacion.controller('mControl', function(){

	});

</script>
</body>
</html>